DEBUG=True
SECRET_KEY='django-your_secret_key'
ALLOWED_HOSTS=127.0.0.1,localhost,0.0.0.0

TELEGRAM_TOKEN=your-telegram-token
REDIS_URL=redis://redis:6379/0
SUPERUSER_PASSWORD=your_superuser_password

# PostgreSQL
POSTGRES_DB=habits_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secret_key
DATABASE_HOST=db
DATABASE_PORT=5432

